/.idea/
/project/phase1/db/
/project/phase1/BreadMachine.qpf
/project/phase1/BreadMachine.qsf
/project/phase1/BreadMachine.qws
LSD_2022_2023_Proj_7.pdf
/project/phase1/output_files/
*.bak
/project/phase1/incremental_db/
